body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: tan;*/
    text-align: center;
    background-image: url(e0dabe8a.png)
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hometext {
    margin: 10px;
}

.navbar {
    background-color: #d7d2b7
}
a.navbar-brand {
    background-image: url(logo.png);
    background-size: 267px 50px;
    display: block;
    width: 267px;
    height: 50px;
    text-indent: -9999px;
}
   