@{
    ViewBag.Title = "Home Page";
}

<div class="hometext">
    <p>Welcom to our random DnD character creating website, here you can generate a random character, view all of the ones so far, or change and delete previous characters.</p>
</div>
