@{
    ViewBag.Title = "New Characters";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a button that will generate you a completely random</p>
<button onclick="addCharacter">Generate New Character</button>