@{
    ViewBag.Title = "New Characters";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a link that will generate you a completely random</p>
@Html.ActionLink("Create Random Character", "CreateNewCharacter", "Home")